/* Responsivní zobrazení */
@media screen and (max-width: 768px) {
  #kontakt {
    padding: 4rem 1rem;
  }

  .kontakt__form {
    width: 100%;
    height: auto;
    padding: 1.5rem;
  }

  .kontakt__map iframe {
    width: 100% !important;
    height: 250px !important;
  }

  .kontakt__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .contact-h2 {
    font-size: 45px;
  }

  .contact-p {
    font-size: 1rem;
    padding: 15px;
  }

  .kontakt__form {
    gap: 0.8rem;
  }

  .kontakt__form input,
  .kontakt__form textarea {
    font-size: 0.95rem;
    padding: 0.7rem 1rem;
  }

  .kontakt__form button {
    font-size: 0.95rem;
    padding: 0.7rem 1rem;
  }
}

/** PATICKA **/
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

@media (max-width: 990px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(0,0,0,0.95);
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 0 0 0 20px;
    display: none;
  }
  
  .nav-links.active {
    display: flex;
  }
  
  .navbar {
    justify-content: space-between;
    padding-right: 10px;
    gap: 0;
  }
  
  .nav-logo {
    height: 30px !important;
  }
  
  .hamburger {
    position: relative;
    right: 0;
    display: block;
  }  
  
  .hero-logo{
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .nav-links a:hover {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: all 0s ease;
    font-size: 18px;
    border-radius: 0;
    background: none;
    padding: 0;
  }

  .gal{
    width: 70%;
    max-width:400px;
  }
}

@media (max-width: 510px) {
  #toggleReasonsBtnTop {
    display: block;
    margin: 1rem auto;
    max-width: 300px;
  }

  #reasonsWrapper {
    display: none;
  }

  #reasonsWrapper.show {
    display: block;
  }

  .how-toggle-container {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;  /* nebo 2rem dle chuti */
  }

  .how-content.hidden-on-mobile {
    display: none;
  }

  #jak-funguje {
    padding-bottom: 4rem;
    min-height: 300px; /* přidá výšku, i když je obsah skrytý */
  }
}

@media (min-width: 511px) {
  #toggleReasonsBtnTop {
    display: none;
  }

  #reasonsWrapper {
    display: block !important;
  }

  .how-toggle-container {
    display: none !important;
  }

  .how-content {
    display: grid !important;
  }
}

@media (max-width: 678px) {
  .vizualizace-h2,
  .nabidka-h1,
  .reason-h2,
  .presentation-h2,
  .funkcnost-h2 {
    font-size: 55px !important;
  }
}
